Repository flex-development/tsconfig-utils: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn dedupe --check, vitest --changed --coverage --run

.lintstagedrc.json:

{
  "*": ["prettier --check", "cspell lint --color --no-progress --relative $@"],
  "**/*.{cjs,gql,json,jsonc,md,mjs,ts,yml}": ["eslint --exit-on-fatal-error"],
  "**/*.{cjs,mjs,ts}": "vitest typecheck --changed --run",
  "**/yarn.lock": "yarn dedupe --check",
  "src/**/*.ts": "vitest --changed --coverage --run"
}

revert: flex-development/tsconfig-utils@729c7ee8ba75b8e6693b73ccd9e17ee28f71f421
  src/utils/index.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

refactor(utils): `loadLibConfig` -> `loadLib`
  src/utils/__tests__/load-lib.spec.ts
  src/utils/index.ts
  src/utils/load-lib.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

refactor(utils): `loadPathAliases` -> `loadPaths`
  src/utils/__tests__/load-paths.spec.ts
  src/utils/index.ts
  src/utils/load-paths.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

refactor(utils): `loadPluginConfigs` -> `loadPlugins`
  src/utils/__tests__/load-plugins.spec.ts
  src/utils/index.ts
  src/utils/load-plugins.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

feat(interfaces): `ResolvePathsOptions`
  src/interfaces/__tests__/options-resolve-paths.spec-d.ts
  src/interfaces/index.ts
  src/interfaces/options-resolve-paths.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

feat(utils): `resolvePaths`
  src/utils/__snapshots__/resolve-paths.snap
  src/utils/__tests__/resolve-paths.spec.ts
  src/utils/index.ts
  src/utils/resolve-paths.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

docs: related
  README.md
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

docs: interfaces
  README.md
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

fix(utils): [`normalizeLib`] lowercase possible option before evaluating
  src/utils/normalize-lib.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

docs: api
  .markdownlint.jsonc
  README.md
  src/utils/__tests__/load-compiler-options.spec.ts
  src/utils/__tests__/load-lib.spec.ts
  src/utils/__tests__/load-paths.spec.ts
  src/utils/__tests__/load-plugins.spec.ts
  src/utils/compiler-options.ts
  src/utils/lib.ts
  src/utils/load-compiler-options.ts
  src/utils/load-lib.ts
  src/utils/load-paths.ts
  src/utils/load-plugins.ts
  src/utils/load-tsconfig.ts
  src/utils/normalize-compiler-options.ts
  src/utils/normalize-imports-not-used.ts
  src/utils/normalize-jsx.ts
  src/utils/normalize-lib.ts
  src/utils/normalize-module-detection.ts
  src/utils/normalize-module-resolution.ts
  src/utils/normalize-module.ts
  src/utils/normalize-new-line.ts
  src/utils/normalize-target.ts
  src/utils/resolve-paths.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

docs: what is this?
  README.md
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

docs: when should i use this?
  README.md
  package.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

feat(ts): re-export `@flex-development/tsconfig-types`
  README.md
  src/index.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

docs: use
  .cspell.json
  .lintstagedrc.json
  README.md
  loader.mjs
  package.json
  tsconfig.json
  typings/@flex-development/tsconfig-utils/index.d.mts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run

release: 1.0.0
  CHANGELOG.md
  package.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

release: 1.0.0 (#12)
  CHANGELOG.md
  package.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

feat(utils): [`resolvePaths`] allow `compilerOptions.baseUrl` override
  src/interfaces/__tests__/options-resolve-paths.spec-d.ts
  src/interfaces/options-resolve-paths.ts
  src/utils/resolve-paths.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

release: 1.1.0
  CHANGELOG.md
  package.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

release: 1.1.0 (#16)
  CHANGELOG.md
  package.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

build(deps): bump @flex-development/mlly from 1.0.0-alpha.9 to 1.0.0-alpha.10
  package.json
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

release: 1.1.1
  CHANGELOG.md
  package.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

release: 1.1.1 (#21)
  CHANGELOG.md
  package.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

build(deps-dev): bump typescript from 5.0.0-dev.20221215 to 5.0.0-dev.20230212
  .eslintrc.base.cjs
  .github/workflows/ci.yml
  .github/workflows/typescript-canary.yml
  __fixtures__/tsconfig.build.json
  package.json
  src/utils/__mocks__/load-tsconfig.ts
  src/utils/__snapshots__/load-tsconfig.snap
  src/utils/__tests__/normalize-module-resolution.spec.ts
  src/utils/normalize-module-resolution.ts
  tsconfig.json
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn dedupe --check, vitest --changed --coverage --run

build(deps-dev): bump @flex-development/mkbuild from 1.0.0-alpha.9 to 1.0.0-alpha.10
  package.json
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

chore(tests): move test tsconfigs to `__tests__` directory
  __tests__/ts/v4/tsconfig.build.json
  __tests__/ts/v4/tsconfig.json
  __tests__/ts/v4/tsconfig.typecheck.json
  scripts/typecheck-build.sh
  vitest.config.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run

chore(github): add commit scope `loader`
  .commitlintrc.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

chore(loader): [`load`] fix esbuild loader configuration
  README.md
  loader.mjs
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run

chore(loader): [`load`] instruct esbuild to target current node version
  README.md
  loader.mjs
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run

chore(loader): [`resolve`] check if `parent` is `file:` URL
  README.md
  loader.mjs
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run

chore: [eslint] update base config
  .eslintrc.base.cjs
  src/utils/__snapshots__/load-tsconfig.snap
  tsconfig.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run

chore: move changelog config to `config` directory
  config/changelog.config.ts
  config/templates/changelog/header.hbs
  package.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run

chore(ts): update self-import definition
  src/utils/__snapshots__/load-tsconfig.snap
  tsconfig.json
  typings/@flex-development/tsconfig-utils/index.d.mts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

ci(workflows): [`dependabot-auto`] remove `enable-auto-merge` job conditional
  .github/workflows/dependabot-auto.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

build(deps): bump @flex-development/mlly from 1.0.0-alpha.10 to 1.0.0-alpha.11
  package.json
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

build(yarn): bump yarn from 4.0.0-rc.34 to 4.0.0-rc.39
  .yarn/releases/yarn-4.0.0-rc.34.cjs
  .yarn/releases/yarn-4.0.0-rc.39.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn dedupe --check

build(deps-dev): bump @flex-development/mkbuild from 1.0.0-alpha.10 to 1.0.0-alpha.13
  package.json
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

ci(workflows): [`ci`] use `github.event.pull_request.head.sha` for codecov
  .github/workflows/ci.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

chore: update config files
  .cspell.json
  .dictionary.txt
  .eslintignore
  .eslintrc.base.cjs
  .eslintrc.cjs
  .gitattributes
  .github/.gitconfig
  .gitignore
  .lintstagedrc.json
  .prettierignore
  .prettierrc.json
  .vscode/settings.json
  __tests__/ts/v4/tsconfig.json
  build.config.ts
  package.json
  scripts/release.sh
  vitest.config.ts
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn dedupe --check

chore: sync updated config files
  .cspell.json
  .eslintignore
  .eslintrc.base.cjs
  .github/workflows/ci.yml
  .husky/commit-msg
  .husky/pre-push
  .lintstagedrc.json
  .markdownlint.jsonc
  __tests__/setup/chai.ts
  __tests__/ts/v4/tsconfig.build.json
  __tests__/ts/v4/tsconfig.json
  package.json
  src/utils/__snapshots__/load-tsconfig.snap
  tsconfig.build.json
  tsconfig.json
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn dedupe --check

ci: [@dependabot] fix private registry updates
  .github/dependabot.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error
