Repository flex-development/tsconfig-utils: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn dedupe --check, vitest --changed --coverage --run

.lintstagedrc.json:

{
  "*": ["prettier --check", "cspell lint --color --no-progress --relative $@"],
  "**/*.{cjs,gql,json,jsonc,md,mjs,ts,yml}": ["eslint --exit-on-fatal-error"],
  "**/*.{cjs,mjs,ts}": "vitest typecheck --changed --run",
  "**/yarn.lock": "yarn dedupe --check",
  "src/**/*.ts": "vitest --changed --coverage --run"
}

build(deps): bump @flex-development/mlly to 1.0.0-beta.4
  package.json
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

build(deps-dev): cleanup dependencies
  package.json
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

ci(deps): bump streetsidesoftware/cspell-action from 8.1.2 to 8.2.0
  .github/workflows/ci.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

docs: types
  README.md
  src/interfaces/dirent.mts
  src/interfaces/file-system-entries.mts
  src/interfaces/get-current-directory.mts
  src/interfaces/host-module-resolution.mts
  src/interfaces/host-parse-config.mts
  src/interfaces/is-directory.mts
  src/interfaces/is-file.mts
  src/interfaces/is-symbolic-link.mts
  src/interfaces/matcher-patterns.mts
  src/interfaces/module-resolution-host-options.mts
  src/interfaces/readdir-dirent-options.mts
  src/interfaces/readdir-options.mts
  src/interfaces/resolve-path-options.mts
  src/interfaces/stats.mts
  src/internal/get-matcher-patterns.mts
  src/internal/match-files.mts
  src/lib/create-get-canonical-file-name.mts
  src/lib/create-module-resolution-host.mts
  src/types/use-case-sensitive-file-names-fn.mts
  src/types/use-case-sensitive-file-names.mts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

docs: api
  README.md
  src/lib/__snapshots__/node/read-tsconfig.snap
  src/lib/__tests__/read-tsconfig.spec.mts
  src/lib/create-parse-config-host.mts
  src/lib/is-resolved-tsconfig.mts
  src/lib/is-tsconfig-host.mts
  src/lib/resolve-path.mts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

docs: usage example
  README.md
  example.mts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

docs: update codecov badge link
  README.md
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

build(deps): cleanup dependencies
  __tests__/plugins/resolve.mts
  package.json
  typings/@flex-development/tsconfig-types/index.d.mts
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

build(deps): @flex-development/fst-util-from-fs integration
  README.md
  __fixtures__/fs/content.mts
  __fixtures__/fs/directories.mts
  __fixtures__/fs/files.mts
  __fixtures__/fsa.mts
  package.json
  src/interfaces/__tests__/dirent.spec-d.mts
  src/interfaces/__tests__/file-system-entries.spec-d.mts
  src/interfaces/__tests__/file-system.spec-d.mts
  src/interfaces/dirent.mts
  src/interfaces/file-system-entries.mts
  src/interfaces/file-system.mts
  src/interfaces/index.mts
  src/internal/__snapshots__/node/visit-directory.functional.snap
  src/internal/__tests__/empty-file-system-entries.spec.mts
  src/internal/__tests__/get-file-system-entries.spec.mts
  src/internal/__tests__/match-files.spec.mts
  src/internal/__tests__/visit-directory.functional.spec.mts
  src/internal/empty-file-system-entries.mts
  src/internal/get-file-system-entries.mts
  src/internal/match-files.mts
  src/internal/visit-directory.mts
  src/lib/__snapshots__/node/create-module-resolution-host.snap
  src/lib/__tests__/create-module-resolution-host.spec.mts
  src/lib/__tests__/create-parse-config-host.spec.mts
  src/lib/__tests__/load-tsconfig.spec.mts
  src/lib/__tests__/read-tsconfig.spec.mts
  src/lib/create-parse-config-host.mts
  src/types/__tests__/get-file-system-entries.spec-d.mts
  src/types/get-file-system-entries.mts
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

build(deps): use @flex-development/when
  eslint.config.mjs
  package.json
  src/internal/__tests__/is-promise.spec.mts
  src/internal/__tests__/match-files.spec.mts
  src/internal/chain-or-call.mts
  src/internal/is-promise.mts
  src/internal/match-files.mts
  src/lib/__tests__/create-module-resolution-host.spec.mts
  src/lib/__tests__/create-parse-config-host.spec.mts
  src/lib/__tests__/load-tsconfig.spec.mts
  src/lib/create-module-resolution-host.mts
  src/lib/load-tsconfig.mts
  src/lib/read-tsconfig.mts
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn dedupe --check

test: add `edge-runtime` environment tests
  package.json
  src/__snapshots__/edge-runtime/index.e2e.snap
  src/internal/__snapshots__/edge-runtime/combine-paths.snap
  src/internal/__snapshots__/edge-runtime/get-matcher-patterns.snap
  src/internal/__snapshots__/edge-runtime/with-trailing-slash.snap
  src/lib/__snapshots__/edge-runtime/create-get-canonical-file-name.snap
  src/lib/__snapshots__/edge-runtime/create-module-resolution-host.snap
  src/lib/__snapshots__/edge-runtime/create-parse-config-host.snap
  src/lib/__snapshots__/edge-runtime/load-tsconfig.snap
  src/lib/__snapshots__/edge-runtime/merge-tsconfig.snap
  src/lib/__snapshots__/edge-runtime/read-tsconfig.snap
  src/lib/__snapshots__/edge-runtime/resolve-path.snap
  vitest-env.d.mts
  vitest.config.mts
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

build(deps): bump @flex-development/mlly from 1.0.0-beta.6 to 1.0.0-beta.7
  package.json
  src/lib/read-tsconfig.mts
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check
