Repository flex-development/tsconfig-utils: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn dedupe --check, vitest --changed --coverage --run

.lintstagedrc.json:

{
  "*": ["prettier --check", "cspell lint --color --no-progress --relative $@"],
  "**/*.{cjs,gql,json,jsonc,md,mjs,ts,yml}": ["eslint --exit-on-fatal-error"],
  "**/*.{cjs,mjs,ts}": "vitest typecheck --changed --run",
  "**/yarn.lock": "yarn dedupe --check",
  "src/**/*.ts": "vitest --changed --coverage --run"
}

build(deps): bump @flex-development/mlly from 1.0.0-alpha.11 to 1.0.0-alpha.13
  package.json
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

release: 1.1.2
  CHANGELOG.md
  package.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

release: 1.1.2 (#41)
  CHANGELOG.md
  package.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

build(nvm)!: require `>=16.20.0`
  .codecov.yml
  .github/workflows/ci.yml
  __tests__/ts/v4/tsconfig.build.json
  __tests__/ts/v4/tsconfig.json
  __tests__/ts/v4/tsconfig.typecheck.json
  package.json
  tsconfig.build.json
  tsconfig.json
  tsconfig.typecheck.json
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

ci(workflows): add `auto-merge`
  .github/workflows/auto-merge.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

ci(workflows): add `cache-cleanup`
  .github/workflows/cache-cleanup.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

ci(workflows): add `infrastructure`
  .github/infrastructure.yml
  .github/labels.yml
  .github/workflows/infrastructure.yml
  .github/workflows/labels.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

ci: [@dependabot] configure grouped version updates
  .dictionary.txt
  .github/dependabot.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

build(deps): bump @flex-development/tutils from 6.0.0-alpha.10 to 6.0.0-alpha.16
  .dictionary.txt
  __tests__/interfaces/mock.ts
  __tests__/interfaces/spy.ts
  __tests__/reporters/notifier.ts
  config/changelog.config.ts
  package.json
  src/interfaces/__tests__/options-load-tsconfig.spec-d.ts
  src/interfaces/__tests__/options-resolve-paths.spec-d.ts
  src/interfaces/options-load-tsconfig.ts
  src/interfaces/options-resolve-paths.ts
  src/internal/__tests__/get-property-value.spec.ts
  src/internal/__tests__/validate-function.spec.ts
  src/internal/__tests__/validate-string.spec.ts
  src/internal/__tests__/validate-url-string.spec.ts
  src/internal/get-property-value.ts
  src/internal/index.ts
  src/internal/parse-json.ts
  src/utils/__tests__/normalize-compiler-options.spec.ts
  src/utils/__tests__/normalize-module-resolution.spec.ts
  src/utils/__tests__/normalize-module.spec.ts
  src/utils/__tests__/normalize-target.spec.ts
  src/utils/load-compiler-options.ts
  src/utils/load-lib.ts
  src/utils/load-paths.ts
  src/utils/load-plugins.ts
  src/utils/load-tsconfig.ts
  src/utils/normalize-compiler-options.ts
  src/utils/normalize-imports-not-used.ts
  src/utils/normalize-jsx.ts
  src/utils/normalize-lib.ts
  src/utils/normalize-module-detection.ts
  src/utils/normalize-module-resolution.ts
  src/utils/normalize-module.ts
  src/utils/normalize-new-line.ts
  src/utils/normalize-target.ts
  vitest.config.ts
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn dedupe --check, vitest --changed --coverage --run

build(deps-dev): bump vitest from 0.31.1 to 0.34.1
  __tests__/serve.json
  package.json
  vitest.config.ts
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn dedupe --check

build(deps-dev): bump vitest from 0.31.1 to 0.34.1
  __tests__/serve.json
  __tests__/ts/v4/tsconfig.typecheck.json
  package.json
  vitest.config.ts
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn dedupe --check

chore: update dev and test environments
  .codecov.yml
  .eslintrc.base.cjs
  .github/infrastructure.yml
  .github/workflows/ci.yml
  .github/workflows/typescript-canary.yml
  .nvmrc
  .prettierignore
  .prettierrc.json
  .vscode/settings.json
  __tests__/reporters/notifier.ts
  __tests__/setup/chai.ts
  __tests__/setup/index.ts
  __tests__/utils/get-tsconfig-json.ts
  package.json
  src/internal/__tests__/parse-json.spec.ts
  src/internal/parse-json.ts
  src/utils/__tests__/compiler-options.spec-d.ts
  src/utils/__tests__/compiler-options.spec.ts
  src/utils/__tests__/lib.spec-d.ts
  src/utils/__tests__/lib.spec.ts
  src/utils/__tests__/load-compiler-options.spec.ts
  src/utils/__tests__/load-lib.spec.ts
  src/utils/__tests__/load-paths.spec.ts
  src/utils/__tests__/load-plugins.spec.ts
  src/utils/__tests__/load-tsconfig.spec.ts
  src/utils/__tests__/normalize-compiler-options.spec.ts
  src/utils/__tests__/normalize-imports-not-used.spec.ts
  src/utils/__tests__/normalize-jsx.spec.ts
  src/utils/__tests__/normalize-lib.spec.ts
  src/utils/__tests__/normalize-module-detection.spec.ts
  src/utils/__tests__/normalize-new-line.spec.ts
  tsconfig.build.json
  typings/@faker-js/faker/global.d.ts
  typings/@types/node/http2.d.ts
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn dedupe --check, vitest --changed --coverage --run

ci(workflows): [`approve-pr`] remove `dependabot-metadata` condition
  .github/workflows/approve-pr.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

chore: analyze types distribution
  .attw.json
  .dictionary.txt
  .eslintignore
  .github/workflows/ci.yml
  package.json
  scripts/release.sh
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

build(deps): bump @flex-development/tsconfig-types from 3.2.0 to 4.0.0
  package.json
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

build(deps): bump @flex-development/mlly from 1.0.0-alpha.15 to 1.0.0-alpha.16
  README.md
  loader.mjs
  package.json
  src/interfaces/options-load-tsconfig.ts
  src/internal/__tests__/is-directory.spec.ts
  src/internal/__tests__/is-file.spec.ts
  src/internal/index.ts
  src/internal/is-directory.ts
  src/internal/is-file.ts
  src/utils/lib.ts
  src/utils/load-tsconfig.ts
  src/utils/resolve-paths.ts
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn dedupe --check, vitest --changed --coverage --run

build: distribute source maps for `utils` only
  build.config.ts
  package.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run

ci(workflows): [`dependabot-auto`] remove `approve-pr` condition
  .github/workflows/dependabot-auto.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

build(deps-dev): bump @flex-development/esm-types from 1.0.0 to 2.0.0
  package.json
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

release: 2.0.0
  CHANGELOG.md
  build.config.ts
  package.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run

release: 2.0.0 (#223)
  CHANGELOG.md
  build.config.ts
  package.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run

build: ensure resolved source map url is absolute
  build.config.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run

release: 2.0.1
  CHANGELOG.md
  package.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

release: 2.0.1 (#227)
  CHANGELOG.md
  package.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

build(deps): bump @flex-development/mlly from 1.0.0-alpha.17 to 1.0.0-alpha.18
  package.json
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

release: 2.0.2
  CHANGELOG.md
  package.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

release: 2.0.2 (#243)
  CHANGELOG.md
  package.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

feat(interfaces): `ModuleResolutionHost`
  README.md
  src/interfaces/__tests__/host-module-resolution.spec-d.mts
  src/interfaces/host-module-resolution.mts
  src/interfaces/index.mts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

feat(lib): `createModuleResolutionHost`
  README.md
  package.json
  src/__snapshots__/index.e2e.snap
  src/interfaces/__tests__/file-system.spec-d.mts
  src/interfaces/file-system.mts
  src/interfaces/host-module-resolution.mts
  src/internal/fs.browser.mts
  src/internal/fs.node.mts
  src/lib/__tests__/create-module-resolution-host.spec.mts
  src/lib/create-module-resolution-host.mts
  src/lib/index.mts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

feat(interfaces): `ParseConfigHost`
  README.md
  __tests__/reporters/verbose.mts
  src/interfaces/__tests__/host-parse-config.spec-d.mts
  src/interfaces/host-parse-config.mts
  src/interfaces/index.mts
  vitest.config.mts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

feat(lib): `createParseConfigHost`
  README.md
  src/__snapshots__/index.e2e.snap
  src/interfaces/options-load-tsconfig.mts
  src/lib/__snapshots__/load-tsconfig.snap
  src/lib/__tests__/create-parse-config-host.spec.mts
  src/lib/create-module-resolution-host.mts
  src/lib/create-parse-config-host.mts
  src/lib/index.mts
  src/lib/load-tsconfig.mts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

refactor(lib): [`createModuleResolutionHost`] implement host options
  README.md
  src/interfaces/__tests__/options-module-resolution-host.spec-d.mts
  src/interfaces/__tests__/options-parse-config-host.spec-d.mts
  src/interfaces/file-system.mts
  src/interfaces/host-module-resolution.mts
  src/interfaces/index.mts
  src/interfaces/options-module-resolution-host.mts
  src/interfaces/options-parse-config-host.mts
  src/internal/fs.browser.mts
  src/lib/__tests__/create-module-resolution-host.spec.mts
  src/lib/__tests__/create-parse-config-host.spec.mts
  src/lib/create-module-resolution-host.mts
  src/lib/create-parse-config-host.mts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

feat(lib): `createGetCanonicalFileName`
  README.md
  package.json
  src/__snapshots__/index.e2e.snap
  src/index.mts
  src/internal/__snapshots__/to-path.snap
  src/internal/__tests__/to-path.spec.mts
  src/internal/__tests__/validate-url-string.spec.mts
  src/internal/to-path.mts
  src/internal/validate-url-string.mts
  src/lib/__tests__/create-get-canonical-file-name.spec.mts
  src/lib/create-get-canonical-file-name.mts
  src/lib/index.mts
  src/types/__tests__/get-canonical-file-name.spec-d.mts
  src/types/get-canonical-file-name.mts
  src/types/index.mts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

build(deps): bump @flex-development/mlly from 1.0.0-alpha.19 to 1.0.0-alpha.20
  .dictionary.txt
  README.md
  package.json
  src/interfaces/__tests__/file-system.spec-d.mts
  src/interfaces/__tests__/host-parse-config.spec-d.mts
  src/interfaces/file-system.mts
  src/interfaces/host-parse-config.mts
  src/internal/__tests__/match-files.spec.mts
  src/internal/fs.browser.mts
  src/internal/fs.node.mts
  src/internal/match-files.mts
  src/lib/__tests__/create-parse-config-host.spec.mts
  src/lib/create-module-resolution-host.mts
  src/lib/create-parse-config-host.mts
  src/types/__tests__/read-directory.spec-d.mts
  src/types/index.mts
  src/types/read-directory.mts
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

build(yarn): bump yarn from 4.5.1 to 4.6.0
  .yarn/releases/yarn-4.5.1.cjs
  .yarn/releases/yarn-4.6.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn dedupe --check

refactor(internal): [`matchFiles`] use file system tree
  .gitignore
  README.md
  __tests__/reporters/verbose.mts
  package.json
  src/interfaces/__tests__/dirent.spec-d.mts
  src/interfaces/__tests__/file-system.spec-d.mts
  src/interfaces/dirent.mts
  src/interfaces/file-system.mts
  src/interfaces/index.mts
  src/internal/__tests__/match-files.spec.mts
  src/internal/match-files.mts
  src/lib/create-module-resolution-host.mts
  src/lib/create-parse-config-host.mts
  tsconfig.build.json
  tsconfig.typecheck.json
  typings/@flex-development/fst-util-from-fs/index.d.mts
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

build(deps): bump @flex-development/fst to 1.0.0
  package.json
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

build(deps): bump @flex-development/fst-util-from-fs to 1.0.0-alpha.1
  package.json
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check
