Repository flex-development/tsconfig-utils: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn dedupe --check, vitest --changed --coverage --run

.lintstagedrc.json:

{
  "*": ["prettier --check", "cspell lint --color --no-progress --relative $@"],
  "**/*.{cjs,gql,json,jsonc,md,mjs,ts,yml}": ["eslint --exit-on-fatal-error"],
  "**/*.{cjs,mjs,ts}": "vitest typecheck --changed --run",
  "**/yarn.lock": "yarn dedupe --check",
  "src/**/*.ts": "vitest --changed --coverage --run"
}

chore(github): add commit scope `internal`
  .commitlintrc.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

feat(internal): `validateFunction`
  .eslintrc.base.cjs
  __tests__/setup/faker.ts
  __tests__/setup/index.ts
  package.json
  src/internal/__tests__/validate-function.spec-d.ts
  src/internal/__tests__/validate-function.spec.ts
  src/internal/index.ts
  src/internal/validate-function.ts
  typings/@faker-js/faker/global.d.ts
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn dedupe --check, vitest --changed --coverage --run

feat(internal): `validateString`
  src/internal/__tests__/validate-string.spec-d.ts
  src/internal/__tests__/validate-string.spec.ts
  src/internal/index.ts
  src/internal/validate-string.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

feat(internal): `validateURLString`
  package.json
  src/internal/__tests__/validate-url-string.spec-d.ts
  src/internal/__tests__/validate-url-string.spec.ts
  src/internal/index.ts
  src/internal/validate-url-string.ts
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn dedupe --check, vitest --changed --coverage --run

feat(internal): `isDirectory`
  src/internal/__tests__/is-directory.spec.ts
  src/internal/index.ts
  src/internal/is-directory.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

feat(internal): `isFile`
  src/internal/__tests__/is-file.spec.ts
  src/internal/index.ts
  src/internal/is-file.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

feat(internal): `readFile`
  src/internal/__tests__/read-file.spec.ts
  src/internal/index.ts
  src/internal/read-file.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

chore(github): add commit scope `spelling`
  .commitlintrc.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

chore(spelling): cleanup dictionary
  .dictionary.txt
Due: prettier --check, cspell lint --color --no-progress --relative $@

chore(tests): codecov integration
  .codecov.yml
  README.md
  package.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

ci(workflows): [`ci`] upload coverage report to codecov
  .github/workflows/ci.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

ci(deps): bump GitGuardian/ggshield-action from 1.1.0 to master
  .dictionary.txt
  .github/workflows/ci.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

feat(internal): `parseJSON`
  package.json
  src/internal/__tests__/parse-json.spec.ts
  src/internal/index.ts
  src/internal/parse-json.ts
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn dedupe --check, vitest --changed --coverage --run

feat(interfaces): `LoadTsconfigOptions`
  src/index.ts
  src/interfaces/__tests__/options-load-tsconfig.spec-d.ts
  src/interfaces/index.ts
  src/interfaces/options-load-tsconfig.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

feat(utils): `loadTsconfig`
  .eslintignore
  .prettierignore
  .vscode/settings.json
  __fixtures__/.gitkeep
  __fixtures__/tsconfig.build.json
  __fixtures__/tsconfig.empty.json
  __fixtures__/tsconfig.invalid-json.json
  __fixtures__/tsconfig.invalid-schema.json
  package.json
  src/index.ts
  src/utils/__snapshots__/load-tsconfig.snap
  src/utils/__tests__/load-tsconfig.spec.ts
  src/utils/index.ts
  src/utils/load-tsconfig.ts
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn dedupe --check, vitest --changed --coverage --run

feat(utils): `loadCompilerOptions`
  __tests__/interfaces/index.ts
  __tests__/interfaces/spy.ts
  __tests__/utils/get-tsconfig-json.ts
  src/utils/__mocks__/load-tsconfig.ts
  src/utils/__tests__/load-compiler-options.spec.ts
  src/utils/index.ts
  src/utils/load-compiler-options.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

feat(utils): `loadPathAliases`
  src/utils/__mocks__/load-compiler-options.ts
  src/utils/__tests__/load-path-aliases.spec.ts
  src/utils/index.ts
  src/utils/load-path-aliases.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

feat(utils): `loadPluginConfigs`
  src/utils/__tests__/load-plugin-configs.spec.ts
  src/utils/index.ts
  src/utils/load-plugin-configs.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

feat(utils): `loadLibConfig`
  package.json
  src/utils/__tests__/load-lib-config.spec.ts
  src/utils/index.ts
  src/utils/load-lib-config.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

chore(ts): switch tsconfig based on typescript version
  .github/workflows/typescript-canary.yml
  config/ts/v4/tsconfig.build.json
  config/ts/v4/tsconfig.json
  config/ts/v4/tsconfig.typecheck.json
  package.json
  scripts/typecheck-build.sh
  vitest-env.d.ts
  vitest.config.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run

chore(github): add commit scope `build`
  .commitlintrc.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

chore(github): add commit scope `ts-next`
  .commitlintrc.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

chore(github): add label `scope:ts-next`
  .github/labels.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

refactor(ts-next): support multiple configuration files in `extends`
  .dictionary.txt
  package.json
  src/utils/load-tsconfig.ts
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn dedupe --check, vitest --changed --coverage --run

feat(utils): `COMPILER_OPTIONS`
  .vscode/settings.json
  __tests__/baselines/compiler-options.ts
  src/utils/__tests__/compiler-options.spec-d.ts
  src/utils/__tests__/compiler-options.spec.ts
  src/utils/compiler-options.ts
  src/utils/index.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

feat(utils): `LIB`
  __tests__/baselines/lib.ts
  package.json
  src/utils/__tests__/lib.spec-d.ts
  src/utils/__tests__/lib.spec.ts
  src/utils/index.ts
  src/utils/lib.ts
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn dedupe --check, vitest --changed --coverage --run

feat(internal): `getPropertyValue`
  src/internal/__tests__/get-property-value.spec.ts
  src/internal/get-property-value.ts
  src/internal/index.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

feat(utils): `normalizeImportsNotUsed`
  package.json
  src/utils/__tests__/normalize-imports-not-used.spec.ts
  src/utils/index.ts
  src/utils/normalize-imports-not-used.ts
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn dedupe --check, vitest --changed --coverage --run

feat(utils): `normalizeJsx`
  src/utils/__tests__/normalize-jsx.spec.ts
  src/utils/index.ts
  src/utils/normalize-jsx.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

feat(utils): `normalizeLib`
  src/utils/__tests__/normalize-lib.spec.ts
  src/utils/index.ts
  src/utils/normalize-lib.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

feat(utils): `normalizeModule`
  src/utils/__tests__/normalize-module.spec.ts
  src/utils/index.ts
  src/utils/normalize-module.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

feat(utils): `normalizeModuleDetection`
  src/utils/__tests__/normalize-module-detection.spec.ts
  src/utils/index.ts
  src/utils/normalize-module-detection.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

feat(utils): `normalizeModuleResolution`
  .eslintrc.base.cjs
  src/utils/__tests__/normalize-module-resolution.spec.ts
  src/utils/index.ts
  src/utils/normalize-module-resolution.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

feat(utils): `normalizeNewLine`
  src/utils/__tests__/normalize-new-line.spec.ts
  src/utils/index.ts
  src/utils/normalize-new-line.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

feat(utils): `normalizeTarget`
  src/utils/__tests__/normalize-target.spec.ts
  src/utils/index.ts
  src/utils/normalize-target.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

ci: [@dependabot] add config
  .github/dependabot.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

build(deps-dev): bump @typescript-eslint/parser from 5.50.0 to 5.51.0
  package.json
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

feat(utils): `normalizeCompilerOptions`
  src/utils/__tests__/normalize-compiler-options.spec.ts
  src/utils/index.ts
  src/utils/normalize-compiler-options.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

style(ts): use `mlly.ModuleId` where appropriate
  src/interfaces/__tests__/options-load-tsconfig.spec-d.ts
  src/interfaces/options-load-tsconfig.ts
  src/internal/is-directory.ts
  src/internal/is-file.ts
  src/internal/read-file.ts
  src/utils/load-compiler-options.ts
  src/utils/load-lib-config.ts
  src/utils/load-path-aliases.ts
  src/utils/load-plugin-configs.ts
  src/utils/load-tsconfig.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

feat(utils): `resolveAlias`
  src/utils/index.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run
